[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/skchethan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/skchethan
	label-Verified = -1..+1 group user/skchethan
	push = group user/skchethan
	read = group user/skchethan
	rebase = group user/skchethan
	removeReviewer = group user/skchethan
	submit = group user/skchethan
[access "refs/heads/*"]
	create = group user/skchethan
	push = +force group user/skchethan
	pushMerge = group user/skchethan
	read = group user/skchethan
[access "refs/tags/*"]
	push = group user/skchethan
	push = +force group user/skchethan
